<launch>
        <!--map-->
    <node name="map_generator_node" pkg="v2x_map_generator" type="v2x_map_generator_node" output="screen">
        <rosparam command="load" file="$(find v2x_map_generator)/config/custom_mapem.yaml" />
        <param name="config/frequency" value="1.0" type="double" />
        <param name="config/topic_out" value="/TopicMAPs" type="string" />
    </node>
    
        <!--spat-->
    <node name="spat_generator_node" pkg="v2x_spat_generator" type="v2x_spat_generator_node" output="screen">
        <rosparam command="load" file="$(find v2x_spat_generator)/launch/custom_spat_message.yaml" />
        <param name="config/frequency" value="10.0" type="double" />
        <param name="config/tl_red" value="true" type="bool" />
        <param name="config/topic_out" value="/TopicSPATs" type="string" />
        <param name="config/time_to_green_1" value="35.0" type="double" />
        <param name="config/time_to_red_1" value="20.0" type="double" />
        <param name="config/time_to_green_2" value="55.0" type="double" />
        <param name="config/time_to_red_2" value="40.0" type="double" />  
    </node>
</launch>